<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n"/>
    </Console>

    <RollingFile name="robotLogFile" fileName="/home/lvuser/log/robot.log"
      filePattern="/home/lvuser/log/%d{yyyy-MM-dd-hh}-%i.robot.log.zip">
      <PatternLayout> 
          <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n</Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="3 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="3"/>
    </RollingFile>

    <Async name="Async" shutdownTimeout="1000">
      <AppenderRef ref="robotLogFile"/>
    </Async>    
  </Appenders>
  
  <Loggers>
    <Logger name="frc.team6027" level="trace">
    </Logger>

    <Logger name="frc.team6027.robot.subsystems.ElevatorSubsystem" level="debug">
    </Logger>
    <Logger name="frc.team6027.robot.subsystems.RearLiftSubsystem" level="info">
    </Logger>

    <Logger name="frc.team6027.robot.commands.TeleopManager" level="debug">
    </Logger>
    
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="robotLogFile"/>
    </Root>
  </Loggers>
</Configuration>